*{ box-sizing: border-box;}

body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.home-wrapper{
background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../Imagenes/backgroundmana.jpg") no-repeat center top;
background-size: cover;
color: white;
}

header {
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(174, 209, 78, 0.9);
    width: 100%;
    height: 80px;
    justify-content: center;
    color: white;
    right: auto;
    z-index: 10;
}


header .container{
    display: flex;
}

header nav{
    float: right;
    margin-top: 10px;
    margin-left: 5px;
    
}

header nav a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
    padding: 10px 15px;
    font-size: 15px;
}

header nav a.active{
    background: rgb(146, 146, 47);
    border-radius: 5px;
}

#ctn-icon-search{
    top: 0;
    right: 0px;
    background: rgb(146, 146, 47);
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 20px;
    color: white;
    border-radius: 50%;
    cursor: pointer;
}

#ctn-icon-search :hover{
    transform: scale(1.2);
    color: #fed136;
    transition: all 2s ease;
}

#ctn-bars-search{
    position: fixed;
    top: 80px;
    width: 100%;
    background: #fff;
    padding: 20px;
    z-index: 9;
    display: none;
}

#ctn-bars-search input{
    display: block;
    width: 1200px;
    margin: auto;
    padding: 10px;
    font-size: 20px;
    outline: 0;
}

#box-search{
    position: fixed;
    top: 165px;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    background: #fff;
    z-index: 8;
    overflow: hidden;
    display: none;
}

#box-search li a{
    display: block;
    width: 1200px;
    color: #777777;
    padding: 12px 15px;
}

#box-search li a :hover{
    background: #f3f3f3;
}

#box-search li a i{
    margin-right: 10px;
    color: rgb(53, 39, 4);
}

#cover-ctn-search{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    background: rgba(156, 155, 130, 0.9);
    z-index: 7;
    display: none;
}

/* .buscar{
    position: absolute;
    padding: 15px;
    top: 15px;
    left: 80%;
}

.buscar input{
    width: 0;
    height: 26px;
    padding: 5px 10px;
    font-size: 19px;
    border-radius: 30px;
    outline: none;
    color: rgb(25, 25, 25);
    border: 2px solid #fed136;
    transition: all 2s ease;
}

.buscar:hover input{
    width: 200px;
}

.btn{
    position: absolute;
    top: 0;
    right: 0px;
    background: #fed136;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    color: white;
} */

.oferta-del-dia img{
    margin-left: 1400px; 
    margin-top: 60px;    
}
#home{
    text-align: center;
    padding: 200px 0 150px;
}

#home h1{
    font-size: 70px;
    font-weight: normal;
}

#home p {
    font-size: 30px;
}

#home .social{
    margin-top: 80px;
}

#home .social a {
    color: white;
    display: inline-block;
    border-radius: 50%;
    background-color: #222;
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

#home .social a:hover{
    background-color: rgb(130, 219, 95);
}

#pago-seguro img{
    margin-left: 1350px;
    border-radius: 15%;
}
#oferta-tu-producto img{
    margin-bottom: -92px;
}

.container .box{
    display: inline-block ;
    padding: 10px;
    margin: 10px 5px;
    grid-template-columns: 1fr 1fr;
}


#home .divider{
    width: 100px;
    border-top: 5px solid rgb(146, 146, 47);
    margin: 0 auto;
}


section{
    padding: 80px;
}

section h2{
    font-size: 32px;
    text-align: center;
    margin-bottom: 80px;   
} 

#quienes-somos{ 
    justify-content: center;
    margin-top: 20px; 
    width: 120%;
    padding: 50px;
    align-items: center;
}
#quienes-somos{
    background-image: url("../Imagenes/tomatoes-1539503_1280.jpg");
    background-position: center;
    text-align: center;
    background-repeat: no-repeat;
    width: 100%;
}

#quienes-somos .box img:hover{
    transform: scale(0.8);
    transition: all 0.6s ease;
text-align: center;
}
#quienes-somos {
    background-repeat: no-repeat;

}

#quienes-somos h2{
    background-color:rgb(146, 146, 47);
    text-align: center;
    width:1000px ;
    margin-left: 15%;
    color: rgb(253, 250, 250);
     
}    

#quienes-somos .box {
    text-align: center;
    margin-left: 200px;

}

#quienes-somos .box {
    display: inline-block;
    text-align: center;
    width: 33%;
    padding: 10px;
    
}

.padre{
    background: rgba(245, 243, 243, 0.164);
    display: table;
    height: 350px;
    width: 500px;
    margin: 2rem auto;
    text-align: center;
    color: rgb(248, 247, 247);
    
}
.padre p {
    display: table-cell;
    margin: 0;
    padding: 0 .1rem;
    padding-top: 20px;
    font-size: 1.4rem;
    vertical-align: middle;
    width: 100%;
    
}
#quienes-somos h3{
    text-align: center;
    
}
#quienes-somos .box a{
    text-decoration: none;
    color: rgb(253, 250, 250);       
}

#tomates img{
    margin-right: 100%;
}
#quienes-somos .box a{
    text-decoration: none;
    background-color:rgb(146, 146, 47);
    color: rgb(246, 250, 246);
    text-align-last: auto;
    text-justify: auto;
}
#quienes-somos .box img {
    transform: scale(1.2);
    transition: all 0.8s ease;

}
#portafolio-de-productos{
    background-color: whitesmoke;
}

#portafolio-de-productos h2{
    background-color: rgb(146, 146, 47);
    color: rgb(253, 250, 250);
}
#portafolio-de-productos .box{
    display: inline-block;
    text-align: center;
    width: 23%;
    padding: 10px;
    background-color: white;
    align-items: center;
    justify-items: center;  
    
}

#video{
    background-color: rgb(156, 247, 129);
    text-align: center;
    padding: 25px 0;
    margin-top: -70px;
}

#portafolio-de-productos .box a{
    text-decoration: none;
    color: black;
}
#portafolio-de-productos .box a{
    text-decoration: none;
    color: black;
}
#portafolio-de-productos .box img{
    width: 100%;
}

#portafolio-de-productos .box p{
    color: rgba(0, 0, 0, 0.6);
    padding: 10px;
}

#portafolio-de-productos h3{
    text-align: center;
}


#portafolio-de-productos .box img:hover{
    transform: scale(0.8);
    transition: all 0.6s ease;
    }

#mi-huerta-en-casa h2{
    background-color: rgb(146, 146, 47);
    color: rgb(253, 250, 250);
    width: 100%;
}
#paso h3{
    text-align: center;
    margin-top: -50px;
    
}
#mi-huerta-en-casa .box a{
    text-decoration: none;
    color: rgb(14, 13, 13);
    text-align-last: auto;
    text-justify: auto;
}
#mi-huerta-en-casa .box a{
    text-decoration: none;
    color: rgb(12, 12, 12);

}
#mi-huerta-en-casa{
    margin-top: 0.1px;
}

#contacto {
    background-color: rgb(156, 247, 129);
    background-image: url("../Imagenes/map-image.png");
    background-position: center;
    text-align: center;
    background-repeat: no-repeat;
}
#contacto h2{
    color: white;
    background-color: rgb(146, 146, 47);
}


#contacto input{
    padding: 20px;
    width: 400px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

#contacto textarea{
    width: 400px;
    padding: 20px;
    margin: 20px 0;
}

#contacto button{
    background:  rgb(146, 146, 47);
    padding: 20px 40px;
    border-radius: 5px;
    border-color:  rgb(146, 146, 47);
    color: white;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
}


footer{
    text-align: center;
    font-size: 25px;
    padding: 10px;
    margin: 0;
}

.container{
    width: 992px;
    margin-left: auto;
    margin-right: auto;
}
